<!Doctype html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title> Sign-Up Page </title>
    </head>
    <body>
        <form action = "/signUp/" method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type = "submit" value = "signUp">
            <input type = "button" value = "돌아가기" onclick="back()">
        </form>
    </body>
    <script>
        const back = () => {
            window.history.back();
        }
    </script>
</html>
